@font-face {
  font-family: "Ultra";
  src: url("../fonts/Ultra.otf") format("opentype");
}

@font-face {
  font-family: "Papercut";
  src: url("../fonts/papercut.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}
